/* line 1, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* line 7, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
a {
  color: #0000FF;
}
/* line 9, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
a img {
  border: none;
}

/* line 12, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 18, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

/* line 27, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
#flash_notice {
  color: #00B205;
}

/* line 31, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
#flash_alert {
  color: #D00;
}

/* line 35, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
.error_messages, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 44, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
.error_messages h2, #error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
/* line 54, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
.error_messages p, #error_explanation p {
  margin: 8px 10px;
}
/* line 55, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
.error_messages ul, #error_explanation ul {
  margin-bottom: 0;
}

/* line 58, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
.field_with_errors {
  display: inline;
}

/* line 62, /Users/johnny/Documents/rails_projects/boulder_datenbank/app/assets/stylesheets/layout.css.scss */
form .field, form .actions {
  margin: 12px 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

